 body {
     background-color: #f8faff;
 }
 
 p {
     font-size: 18px;
     color: #333;
     margin-top: 5px;
 }
 
 h6 {
     color: #333;
     margin-top: 5px;
 }
 
 .roledrop {
     margin-top: 13px;
 }
 
 .card {
     margin-top: -82px;
 }
 
 .title {
     color: #333;
     text-align: center;
     font-size: 30px;
     margin-bottom: 0px;
     margin-top: -15px;
 }
 
 .forgot {
     color: #033952;
     font-size: 18px;
 }
 
 img {
     width: 143px;
     height: 108px;
 }
 
 .login {
     margin-top: 116px;
 }
 
 .btn-group {
     margin-top: 30px;
 }
 
 .role {
     margin-top: 36px;
     margin-left: 46px;
     font-size: 21px;
 }
 
 .gp {
     padding-top: 10px;
     background-color: #7F8283;
     color: white;
     width: 104px;
     height: 38px;
     position: relative;
     font-size: 14px;
 }
 
 .sub {
     margin-top: 18px;
 }
 
 .fa {
     margin-left: 7px;
     margin-top: 4px;
 }
 
 span {
     width: 55px;
 }